<div class="toolbar" role="banner">
  <img
    width="180"
    alt="Rubik's Code Logo"
    src="../assets/RC-logo-for-light-bg.png"
  />
  <ul class="nav navbar-nav" routerLinkActive="active">
    <li class="nav-item"><a class="nav-link" routerLink="load">Load</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="predict">Predict</a></li>
  </ul>
</div>

<div class="content" role="main">
  <h1>Deploying Machine Learning Model with Fast API</h1>
  <p>Read complete article at rubikscode.net</p>
  <router-outlet></router-outlet>

</div>



